* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(90deg, #009FFF, #ec2F4B);    
}

header {
    background: url(img/bg.png) no-repeat center center;
    background-size: cover;
    text-align: center; 
}

header ul {
    display: flex;
    justify-content: center;
}

header ul li {
    padding: 10px;
}

ul {
    list-style: none;
    font-size: 30px;
    color: #1D3354;
    font-style: italic;
    padding-bottom: 100px;
}

li {
    padding-top: 10px;
}

a {
    text-decoration: none;
    font-weight: 700;
}

.container {
   text-align: center; 
}

.container .name h1 {
    font-size: 60px;
}

.container .name h5 {
    font-size: 25px;
}

#about p {
    max-width: 800px;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 0 auto;
    padding: 10px 0;
}

.form input {
    width: 50%;
}

.form button {
    width: 15%;
} 
.projetos {    
    padding: 10px 0;
    display: flex;
    justify-content: space-around
}

.projetos-flex {
    border: solid #1D3354;
    margin: 0 10px;
    padding: 10px 0;
    width: 30%;
}

.projetos-flex img {
    width: 300px;
}